# System files are ignored via .gitignore_global
# see https://help.github.com/articles/ignoring-files/#create-a-global-gitignore for more information

# Development
/.vscode
node_modules
.env
gh-pages
gh-pages.pub

# Build
_site
docs

# Temporary/Cache
.cache/
.log/
.stylelintcache
*.log
*.pxd
