---
layout: base
style: {
    post: "
        .post-layout {
            --container-size: 84ch;
            --container-padding-y: 3rem;
        }

        time {
            color: var(--color-text-muted);
        }
    "
}
---

<article class="post-layout container my-6">
    <div class="mb-8 md-mb-10">
        {% if title %}
            <h1 class="my-0">{{ title }}</h1>
        {% endif %}
        <time datetime="{{ lastUpdated | toISOString }}">
            {{ lastUpdated | formatDate('DD MMMM YYYY') }}
        </time>
        <p>Return ticket cost: €{{ costReturn }} ; Time taken one way: {{ timeTaken }}</p>
       
        {%- if seat61Link %}
            <a href ="{{ seat61Link }}">Check out the equivalent directions from the UK on Seat61</a>
        {%- endif %}

    </div>

    {{ content | safe }}

    {%- if collections.destinations %}
        {%- set nextPost = collections.destinations | getNextCollectionItem(page) %}
        {%- set previousPost = collections.destinations | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
            <hr class="mt-12">
            <nav class="pagination">
                {%- if previousPost %}
                    <a href="{{ previousPost.url | url }}">Previous: {{ previousPost.data.title }}</a>
                {% endif %}
                {%- if nextPost %}
                    <a href="{{ nextPost.url | url }}" class="ms-auto">Next: {{ nextPost.data.title }}</a>
                {% endif %}
            </nav>
        {%- endif %}
    {%- endif %}
</article>
