---
layout: base
permalink: index.html
eleventyNavigation:
    key: "Home"
style: {
    home: "
    #page-hero {
        --height: 320px;
    }
    "
}
---

<section id="page-hero" class="section -theme flex flex-col justify-center mb-12">
    <div class="container">
        <h1 class="title">{{ meta.siteName }}</h1>
        <div class="slogan">{{ meta.siteDescription }}</div>
    </div>
</section>

<div class="container my-12">
{% renderTemplate "md" %}
This site is just getting off the ground, aiming to serve as a source of info about how to travel sustainably in Ireland or from Ireland to elsewhere.

Check out the info so far in [Destinations](/destinations/).
If you have any suggestions, feel free to email me below. 
{% endrenderTemplate %}
</div>
